node_modules/
.env
client_secret_64306507520-698gofe0ids53msaqromfie3oevk9kq0.apps.googleusercontent.com.json
content_draft/
temp/
youtube_client_secret_856842658666-hgbcta48q55tdn8qah6chrthp4fujnut.apps.googleusercontent.com.json